<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      
      <a href="#">Back to top</a>
      
      <a href="https://github.com/amit22666">
        <img align="left"  width="35px" src="https://cdn.jsdelivr.net/npm/simple-icons@3.12.4/icons/github.svg" />
      </a>

      <a href="https://www.linkedin.com/in/amit-kumar-8067bb146/">
        <img align="left"  width="35px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />
      </a>
    </p>
    <p>You can post your thoughts anonymously</p>
    Made with 💓 By Amit kumar,Indian Institute of Information Technology </p>
    <!-- <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p> -->
  </div>
</footer>